#User  alias specification
User_Alias  DELIVER   = {{ ezpublish_delivery_account }}

# Cmnd alias specification
Cmnd_Alias  APACHECMD  = /usr/sbin/service {{ ezpublish_apache.daemon }} reload, /usr/sbin/service {{ ezpublish_apache.daemon }} restart, /usr/sbin/service {{ ezpublish_apache.daemon }} start, /usr/sbin/service {{ ezpublish_apache.daemon }} stop
Cmnd_Alias  MEMCACHECMD  = /usr/sbin/service memcached reload, /usr/sbin/service memcached restart, /usr/sbin/service memcached start, /usr/sbin/service memcached stop
Cmnd_Alias  VARNISHCMD  = /usr/sbin/service varnish reload, /usr/sbin/service varnish restart, /usr/sbin/service varnish start, /usr/sbin/service varnish stop

# Cmnd aliases for eZ Publish
Cmnd_Alias  CHMOD_EZ = /bin/chmod -R g+w */ezpublish/cache, /bin/chmod -R g+w */ezpublish/logs, /bin/chmod -R g+w */ezpublish_legacy/var, /bin/chmod -R g+w */web
Cmnd_Alias  CHGRP_EZ = /bin/chgrp -R {{ ezpublish_apache.group }} */ezpublish/cache, /bin/chgrp -R {{ ezpublish_apache.group }} */ezpublish/logs, /bin/chgrp -R {{ ezpublish_apache.group }} */ezpublish_legacy/var, /bin/chgrp -R {{ ezpublish_apache.group }} */web
Cmnd_Alias  CHOWN_EZ = /bin/chown -R {{ ezpublish_apache.user }} */ezpublish_legacy/var

# User privilege specification
DELIVER  ALL = NOPASSWD : APACHECMD, MEMCACHECMD, VARNISHCMD, CHMOD_EZ, CHGRP_EZ, CHOWN_EZ
DELIVER  ALL = ({{ ezpublish_apache.user }}) NOPASSWD: ALL
